a{
	text-decoration: none;
}
/*danh cho phan login*/
.form1{
	height: 170px;
	background: gray;
	position: relative;
	margin-left: 200px;
	display: block;
}
.form1 .form-group{
	height: 30px;
	display: block;
	line-height: 30px;
	margin-top: 20px;
	padding-left: 30px;
}
.form-group .btn2{
	background: green;
	position: absolute;
	margin-left: 0px;
	
}
/*ket thuc phan login*/



.item-news{
  float: left;
  height:195px;
  margin-bottom: 14px;
  background-color:#F7F2F2;

}
.news-content {
	height: 550px;
}
.news-content .item-news{
	margin-left: 20px;
}
.news-content .item-news .right-item-news{
	float:left;
}

.row-contain{
	margin-top: 30px;
}
.product img{
	width: 860px;
}
.main-product .item-product{
	height:300px;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 10px;
	display: block;
	border-right: 0.1px solid rgb(231, 241, 237);
}
.item-product .desc{
	display: block;
	height: 100px;
	background: gray;
}

.main-nav .cart-nav{
	float:right;
}
.item-product .desc{
	display: block;
}
.item-product .left-desc{
	float:left;
	display: block;
}
.item-product .right-desc{
	float:right;
	display: block;
	margin-right: 15px;

}

table tr td{
	text-align: center;
	
}
.qty_{
	padding: 20px;
}
.left-update{
	
}
.row .span12{
	margin-left: 0;
}
.btn2{

	height: 30px;
	width: 100px;
	background-color: green;
	border: none;
	color: white;
	margin-bottom: 60px;
}
.form1 p,input{
	display: block;
	float: left;
}
span{
	margin-left: 0;
}
#menu li {
	display: inline-block;
}
/*==Dropdown Menu==*/
.menu-drop li {
  display: block;
  position: absolute;
  padding:10px;
}

#menu li:hover .menu-drop {
 display: block;
}
.pagination a{
	padding:20px;
}
a.tag{
	padding:5px;
	background-color: blue;
	font-size: 12px;
	color: white ;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;

	
}
.tag-ul li{
	display: block;
	float: left;
	margin-right: 8px;
	line-height: 20px;
	padding: 8px;

}

